<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cines</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/sing-in">Iniciar Sesion</a></li>
                <li><a href="/sing-up">Registarse</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h2>Bienvenido a la gestión de cines</h2>
            <p id="text">Gestiona todos los cines, salas, películas y actores desde un solo lugar.</p>
        </section>

        <section class="options">
            <h2>Opciones disponibles</h2>
            <ul>
                <li><a href="/insertar-cine">Insertar un nuevo cine</li>
                <li><a href="/insertar-sala">Insertar nuevas salas dentro de un cine</li>
                <li><a href="/listar-todo">Ver todos los cines y sus salas</li>
                <li><a href="/opcion4">Ver actores de una película</li>
                <li><a href="/opcion5">Listar actores y directores</li>
                <li><a href="/opcion6">Ver la cantidad de butacas de cada cine</li>
                <li><a href="/opcion7">Ejecutar consultas personalizadas</li>
                <li><a href="/listar-cines">Listar Info Cines</li>

            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Gestión de Cines. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
